
.header-top {
    background:darkcyan;
    text-align: center;
    font-family: sans-serif;
    color: cadetblue;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .header-sub-title {
    background:rgba(0, 139, 139, 0.616);
    text-align: center;
    font-family: sans-serif;
    color: rgb(130, 203, 206);
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  img {
    max-width: 100%;
    height: auto;
  }

.btn-dark-transparent
{
    opacity: 1;
    color: white;
    mix-blend-mode: multiply;
}

.txt-white
{
    color: white
}

.txt-transparent
{
    opacity: .5;
}


.btn-wv
{
    padding-right: 20px;

}

.jumbotron
{
    background-image: url(bg.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-get-started
{
    color: white;
}

.test-image
{
    margin: 50px;
    height: 50%;
    width: 50%;
}